<div class="buttons clearfix">
  <div class="pull-right">
    <?php foreach ($buttons as $button) { ?>
      <a href="<?php echo $button['link']; ?>" class="red_button">
        <span><?php echo $button['text']; ?></span>
        <span><?php echo $button['text']; ?></span>
      </a>
    <?php } ?>
  </div>
</div>