h2.shheading {
	color: #666;
	font-size: 23px;
	margin: 0px;
	padding: 8px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	font-weight: normal;
}
.shrow { display: block; margin-left: -10px; margin-right: -19px; margin-bottom: 10px; }
.shrow .shcolumn{ vertical-align: top; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding-left: 10px; padding-right: 10px; }
.shrow2 .shcolumn { width: 50%; display:inline-block; zoom: 1; *display: inline; *width: 48%;}
.shrow3 .shcolumn { width: 33.3%; display:inline-block; zoom: 1; *display: inline; *width: 31.3%; }
.shrow4 .shcolumn { width: 25%; display:inline-block; zoom: 1; *display: inline; *width: 23%; }
.shrow5 .shcolumn { width: 20%; display:inline-block; zoom: 1; *display: inline; *width: 18%;}
.shrow .shcolumn img, .shimage img { max-width: 100% !important; height: auto !important; }
.shrow p { margin-bottom: 6px; }
.shrow .shimage { margin-bottom: 5px; }
.shyoutube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom: 6px; 
}
 
.shyoutube iframe,
.shyoutube object,
.shyoutube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel.owl-sh {
	margin-bottom: 15px;
	*overflow: hidden;
    background: none; 
	border: none; 
	position: relative; 
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	-o-border-radius: 0px; 
	border-radius: 0px; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	-o-box-shadow: none; 
	box-shadow: none; 
}
.owl-carousel.owl-sh .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel.owl-sh{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel.owl-sh .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel.owl-sh .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}
.owl-carousel.owl-sh .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel.owl-sh .owl-item{
	float: left;
}
.owl-sh .owl-controls .owl-page,
.owl-sh .owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-sh .owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.owl-sh .grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel.owl-sh  .owl-wrapper,
.owl-carousel.owl-sh .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-sh .owl-controls{
	text-align: center;
	position: relative;
	z-index: 5;
}

/* Styling Next and Prev buttons */

.owl-sh .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	display: none;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-sh .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-sh .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-sh .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-sh .owl-controls .owl-page.active span,
.owl-sh .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-sh .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-sh .owl-item.loading{
	min-height: 150px;
	background: #fff;
}
.owl-sh .owl-item > div { padding-left: 10px; padding-right: 10px; }
.owl-sh .owl-pagination { top: auto; }