<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <h1><?php echo $heading_title; ?></h1>
      <!--h3><?php echo $text_location; ?></h3 -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <?php if ($image) { ?>
            <div class="col-sm-3"><img src="<?php echo $image; ?>" alt="<?php echo $store; ?>" title="<?php echo $store; ?>" class="img-thumbnail" /></div>
            <?php } ?>
            <div class="col-sm-4"><strong><?php echo $store; ?></strong><br />
              <address>
              <?php echo $address; ?>
              </address>
              <span style="font-style:italic;font-weight:bold;">Innehar F-skattesedel</span><br />
              Org.nr. 556909-5697<br />
              Bankgiro: 122-0102<br />
              Bankgiro (2): 5003-6722<br />
              <p></p><br />
              <?php if ($geocode) { ?>
              <strong>Hitta till oss</strong><br />
              <a href="https://maps.google.com/maps?q=<?php echo urlencode($geocode); ?>&hl=en&t=m&z=15" target="_blank"><img src="/image/catalog/www/gpser-honnoersgatan-6.jpg" alt="GPSER Sweden AB location image" /></a>
              <?php } ?>
              <p>Lat: 56.878375, Long: 14.780221</p>
              <br />
               <strong>Maila oss</strong><br />
               <table style="width:70%">
               	<tr>
               		<td>Förfrågningar:</td> <td><a href="mailto:info@gpser.se">info@gpser.se</a></td>
               	</tr>
               	<tr>
               		<td>Kundtjänst:</td> <td><a href="mailto:support@gpser.se">support@gpser.se</a></td>
               	</tr>
               	<tr>
               		<td>Ordermottagning:</td> <td><a href="mailto:order@gpser.se">order@gpser.se</a></td>
               	</tr>
               	<tr>
               		<td>Fakturafrågor:</td> <td><a href="mailto:ekonomi@gpser.se">ekonomi@gpser.se</a></td>
               	</tr>
               	<tr>
               		<td>Marknad:</td> <td><a href="mailto:market@gpser.se">market@gpser.se</a></td>
               	</tr>
               </table>
              
            </div>
            <div class="col-sm-2">
              <strong><?php echo $text_telephone; ?></strong><br>
              <?php echo $telephone; ?><br />
              <br />
              <?php if ($fax) { ?>
              <strong><?php echo $text_fax; ?></strong><br>
              <?php echo $fax; ?>
              <?php } ?>
              <strong>Telefontid kundtjänst</strong><br />
			  Vardagar: 09 - 17<br />
			  Lunchstängt: 12 - 13<br />
			  Helger: <span style="font-style:italic">stängt</span><br /><br />
			  
			  <?php if ($open) { ?>
              <strong><?php echo $text_open; ?></strong><br />
              <?php echo $open; ?><br />
              <br />
              <?php } ?>
              <?php if ($comment) { ?>
              <strong><?php echo $text_comment; ?></strong><br />
              <?php echo $comment; ?>
              <?php } ?>
              
              <span id='liveadmin'></span>
              
             
              
            </div>
            <div class="col-sm-6">
              <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="form-horizontal">
		        <fieldset>
		          <h4 class="col-sm-offset-2"><?php echo $text_contact; ?></h4>
		          <div class="form-group required">
		            <div class="col-sm-offset-2  col-sm-9">
		            <label class="coll-sm-3 control-label" for="input-name"><?php echo $entry_name; ?></label>
		              <input type="text" name="name" value="<?php echo $name; ?>" id="input-name" class="form-control" />
		              <?php if ($error_name) { ?>
		              <div class="text-danger"><?php echo $error_name; ?></div>
		              <?php } ?>
		            </div>
		          </div>
		          <div class="form-group required">
		            <div class="col-sm-offset-2 col-sm-9">
	                 <label class="coll-sm-3 control-label" for="input-email"><?php echo $entry_email; ?></label>
		              <input type="text" name="email" value="<?php echo $email; ?>" id="input-email" class="form-control" />
		              <?php if ($error_email) { ?>
		              <div class="text-danger"><?php echo $error_email; ?></div>
		              <?php } ?>
		            </div>
		          </div>
		          <div class="form-group required">
		            <div class="col-sm-offset-2 col-sm-9">
		              <label class="coll-sm-3 control-label" for="input-enquiry"><?php echo $entry_enquiry; ?></label>
		              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"><?php echo $enquiry; ?></textarea>
		              <?php if ($error_enquiry) { ?>
		              <div class="text-danger"><?php echo $error_enquiry; ?></div>
		              <?php } ?>
		            </div>
		          </div>
		          <?php if ($site_key) { ?>
		            <div class="form-group">
		              <div class="col-sm-offset-2 col-sm-6">
		                <div class="g-recaptcha" data-sitekey="<?php echo $site_key; ?>"></div>
		                <?php if ($error_captcha) { ?>
		                  <div class="text-danger"><?php echo $error_captcha; ?></div>
		                <?php } ?>
		              </div>
				        <div class="buttons col-sm-3">
				          <div class="pull-right">
				            <input class="btn btn-primary" type="submit" value="<?php echo $button_submit; ?>" style="padding:16px 21px; font-size:16px;" />
				          </div>
				        </div>
		            </div>
		          <?php } else { ?>
		          
		          <div class="form-group">
		              <div class="col-sm-offset-2 col-sm-6">
		              </div>
				        <div class="buttons col-sm-3">
				          <div class="pull-right">
				            <input class="btn btn-primary" type="submit" value="<?php echo $button_submit; ?>" style="padding:16px 21px; font-size:16px;" />
				          </div>
				        </div>
		            </div>
		          
		          <?php } ?>
		          
		        </fieldset>
		      </form>
            </div>
          </div>
        </div>
      </div>
      
      <?php if ($locations) { ?>
      <h3><?php echo $text_store; ?></h3>
      <div class="panel-group" id="accordion">
        <?php foreach ($locations as $location) { ?>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location<?php echo $location['location_id']; ?>" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><?php echo $location['name']; ?> <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location<?php echo $location['location_id']; ?>">
            <div class="panel-body">
              <div class="row">
                <?php if ($location['image']) { ?>
                <div class="col-sm-3"><img src="<?php echo $location['image']; ?>" alt="<?php echo $location['name']; ?>" title="<?php echo $location['name']; ?>" class="img-thumbnail" /></div>
                <?php } ?>
                <div class="col-sm-3"><strong><?php echo $location['name']; ?></strong><br />
                  <address>
                  <?php echo $location['address']; ?>
                  </address>
                  <?php if ($location['geocode']) { ?>
                  <a href="https://maps.google.com/maps?q=<?php echo urlencode($location['geocode']); ?>&hl=en&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> <?php echo $button_map; ?></a>
                  <?php } ?>
                </div>
                <div class="col-sm-3"> <strong><?php echo $text_telephone; ?></strong><br>
                  <?php echo $location['telephone']; ?><br />
                  <br />
                  <?php if ($location['fax']) { ?>
                  <strong><?php echo $text_fax; ?></strong><br>
                  <?php echo $location['fax']; ?>
                  <?php } ?>
                </div>
                <div class="col-sm-3">
                  <?php if ($location['open']) { ?>
                  <strong><?php echo $text_open; ?></strong><br />
                  <?php echo $location['open']; ?><br />
                  <br />
                  <?php } ?>
                  <?php if ($location['comment']) { ?>
                  <strong><?php echo $text_comment; ?></strong><br />
                  <?php echo $location['comment']; ?>
                  <?php } ?>
                </div>
              </div>
            </div>
          </div>
        </div>
        <?php } ?>
      </div>
      <?php } ?>
      
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
