.share-your-purchase {
    margin-bottom: 20px;
}

.share-your-purchase-image {
    width: auto;
    float: left;
}

.share-your-purchase-content {
    margin: 17px 0px 0px 10px;
    width: 80%;
    display: inline-block;
}

.share-your-purchase-content h2 {
    margin: 0px;
}

.share-your-purchase-content > span {
    color: #808080;
    font-size: 10px;
}

.share-your-purchase-content p {
    margin-top: 10px;
}

.share-your-purchase-content .btn { font-size:15px; font-weight:bold; border: 0; box-shadow: 0; }

.btn-facebook, a.btn-facebook:hover {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #3B5998;
    background-image: linear-gradient(to bottom, #3B5998, #3B5998);
    background-repeat: repeat-x;
    border-color: #84B82D #84B82D #6E9926;
}

.share-your-purchase-content a.btn-facebook:hover, .share-your-purchase-content a.btn:hover { color:white; }
