<?php echo $header; ?>
<div class="container">
    <ul class="breadcrumb">
        <?php $last_breadcrumb = array_pop($breadcrumbs); ?>
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
        <li><?php echo $last_breadcrumb['text']; ?></li>
    </ul>
    <?php if ($attention) { ?>
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $attention; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="row shopping_cart"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?> shopping_cart"><?php echo $content_top; ?>
            <h1><?php echo $heading_title; ?>
                <?php if ($weight) { ?>
                &nbsp;(<?php echo $weight; ?>)
                <?php } ?>
            </h1>
            <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
                <div class="table-responsive">
                    <table class="table table-bordered table_shopping_cart">
                        <thead>
                        <tr>
                            <td class="text-left image"><?php echo $column_image; ?></td>
                            <td class="text-left name"><?php echo $column_name; ?></td>
                            <td class="text-left model"><?php echo $column_model; ?></td>
                            <td class="text-left quantity"><?php echo $column_quantity; ?></td>
                            <td class="text-left price"><?php echo $column_price; ?></td>
                            <td class="text-left total"><?php echo $column_total; ?></td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($products as $product) { ?>
                        <tr>
                            <td class="text-center image"><?php if ($product['thumb']) { ?>
                                <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>"
                                                                               alt="<?php echo $product['name']; ?>"
                                                                               title="<?php echo $product['name']; ?>"
                                                                               class="img-thumbnail"/></a>
                                <?php } ?></td>
                            <td class="text-left name"><a
                                    href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                                <?php if (!$product['stock']) { ?>
                                <span class="text-danger">***</span>
                                <?php } ?>
                                <?php if ($product['option']) { ?>
                                <?php foreach ($product['option'] as $option) { ?>
                                <br/>
                                <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
                                <?php } ?>
                                <?php } ?>
                                <?php if ($product['reward']) { ?>
                                <br/>
                                <small><?php echo $product['reward']; ?></small>
                                <?php } ?>
                                <?php if ($product['recurring']) { ?>
                                <br/>
                                <span class="label label-info"><?php echo $text_recurring_item; ?></span>
                                <small><?php echo $product['recurring']; ?></small>
                                <?php } ?></td>
                            <td class="text-left model"><?php echo $product['model']; ?></td>
                            <td class="text-left quantity">
                                <div class="input-group btn-block">
                                    <input type="text" name="quantity[<?php echo $product['key']; ?>]"
                                           value="<?php echo $product['quantity']; ?>" size="1" class="form-control"/>
                                    <span class="input-group-btn">
                    <button type="submit" data-toggle="tooltip" title="<?php echo $button_update; ?>"
                            class="btn refresh"><i class="fa fa-refresh"></i></button>
                    <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn remove"
                            onclick="cart.remove('<?php echo $product['key']; ?>');"><i
                            class="fa fa-times"></i></button></span></div>
                            </td>
                            <td class="text-left price"><?php echo $product['price']; ?></td>
                            <td class="text-left total"><?php echo $product['total']; ?></td>
                        </tr>
                        <?php } ?>
                        <?php foreach ($vouchers as $vouchers) { ?>
                        <tr>
                            <td></td>
                            <td class="text-left"><?php echo $vouchers['description']; ?></td>
                            <td class="text-left"></td>
                            <td class="text-left quantity">
                                <div class="input-group btn-block">
                                    <input type="text" name="" value="1" size="1" disabled="disabled"
                                           class="form-control"/>
                                    <span class="input-group-btn"><button type="button" data-toggle="tooltip"
                                                                          title="<?php echo $button_remove; ?>"
                                                                          class="btn refresh"
                                                                          onclick="voucher.remove('<?php echo $vouchers['key']; ?>');"><i
                                            class="fa fa-times"></i></button></span></div>
                            </td>
                            <td class="text-left"><?php echo $vouchers['amount']; ?></td>
                            <td class="text-left"><?php echo $vouchers['amount']; ?></td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>
            <?php if ($coupon || $voucher || $reward || $shipping) { ?>
            <h2><?php echo $text_next; ?></h2>
            <p><?php echo $text_next_choice; ?></p>
            <div class="panel-group"
                 id="accordion"><?php echo $coupon; ?><?php echo $voucher; ?><?php echo $reward; ?><?php echo $shipping; ?></div>
            <?php } ?>

            <div class="buttons pull-right">
                <a href="<?php echo $continue; ?>" class="black_white_btn">
                    <span><?php echo $button_shopping; ?></span>
                    <span><?php echo $button_shopping; ?></span>
                </a>
                <a href="<?php echo $checkout; ?>" class="red_button">
                    <span><?php echo $button_checkout; ?></span>
                    <span><?php echo $button_checkout; ?></span>
                </a>
            </div>
            <div class="pull-right">
                <div class="totals">
                    <?php foreach ($totals as $total) { ?>
                    <div class="totals_row">
                        <div class="total_title pull-left"><?php echo $total['title']; ?>:</div>
                        <div><?php echo $total['text']; ?></div>
                    </div>
                    <?php } ?>
                </div>
            </div>
            <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>