<style>
    #step_7 .panel.panel-default {
        display: none;
    }
</style>
<div class="buttons">
  <div class="pull-right">
    <a href="<?php echo $button_continue_action; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a>
  </div>
</div>