<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php $last_breadcrumb = array_pop($breadcrumbs); ?>
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
    <li><?php echo $last_breadcrumb['text']; ?></li>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <h1><?php echo $heading_title; ?></h1>
      <div class="search_block">
        <div class="search_container">
          <div class="pull-left">
            <div class="input_search">
              <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_keyword; ?>" id="input-search" class="form-control" />
            </div>

              <?php if ($description) { ?>
                <label class="checkbox-inline checked">
                  <input type="checkbox" name="description" value="1" id="description" checked="checked" />
                  <?php echo $entry_description; ?>
                </label>
              <?php } else { ?>
                <label class="checkbox-inline checked">
                  <input type="checkbox" name="description" value="1" id="description" />
                  <?php echo $entry_description; ?>
                </label>
              <?php } ?>
          </div>
          <div class="pull-right">
            <select name="category_id" class="form-control">
              <option value="0"><?php echo $text_category; ?></option>
              <?php foreach ($categories as $category_1) { ?>
              <?php if ($category_1['category_id'] == $category_id) { ?>
              <option value="<?php echo $category_1['category_id']; ?>" selected="selected"><?php echo $category_1['name']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>
              <?php } ?>
              <?php foreach ($category_1['children'] as $category_2) { ?>
              <?php if ($category_2['category_id'] == $category_id) { ?>
              <option value="<?php echo $category_2['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $category_2['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
              <?php } ?>
              <?php foreach ($category_2['children'] as $category_3) { ?>
              <?php if ($category_3['category_id'] == $category_id) { ?>
              <option value="<?php echo $category_3['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
              <?php } ?>
              <?php } ?>
              <?php } ?>
              <?php } ?>
            </select>
            <?php if ($sub_category) { ?>
            <label class="checkbox-inline">
                <input type="checkbox" name="sub_category" value="1" checked="checked" />
                <?php echo $text_sub_category; ?>
            </label>
            <?php } else { ?>
              <label class="checkbox-inline">
                <input type="checkbox" name="sub_category" value="1" />
                <?php echo $text_sub_category; ?>
              </label>
            <?php } ?>
          </div>
        </div>
        <div class="red_form_btn">
          <input type="button" value="<?php echo $button_search; ?>" id="button-search" />
        </div>
      </div>
      <!--<label class="control-label" for="input-search"><?php echo $entry_search; ?></label>-->
      <h2 class="text_search"><?php echo $text_search; ?></h2>
      <?php if ($products) { ?>
      <p class="text_compare"><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></p>
      <div class="row sort_container">
        <div class="col-sm-3 hidden-xs">
          <div class="btn-group">
            <button type="button" id="list-view" data-toggle="tooltip" data-active="" title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" data-toggle="tooltip" data-active="" title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
          </div>
        </div>
          <div class="pull-right sort_block">
              <div class="sort_col">
                  <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
                  <select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
                      <?php foreach ($sorts as $sorts) { ?>
                      <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                      <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                      <?php } else { ?>
                      <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                      <?php } ?>
                      <?php } ?>
                  </select>
              </div>
              <div class="sort_col sort_col_2">
                  <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
                  <select id="input-limit" class="form-control" onchange="location = this.value;">
                      <?php foreach ($limits as $limits) { ?>
                      <?php if ($limits['value'] == $limit) { ?>
                      <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
                      <?php } else { ?>
                      <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                      <?php } ?>
                      <?php } ?>
                  </select>
              </div>
          </div>
      </div>
      <div class="row related_products">
        <?php foreach ($products as $product) { ?>
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
              <p><?php echo $product['description']; ?></p>
              <!--<?php if ($product['rating']) { ?>
              <div class="rating">
                <?php for ($i = 1; $i <= 5; $i++) { ?>
                <?php if ($product['rating'] < $i) { ?>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <?php } else { ?>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                <?php } ?>
                <?php } ?>
              </div>
              <?php } ?>-->
            </div>
            
            <div class="price-button-group">	
			        <div class="pull-left">	
				        <p class="price">
				          <?php if (!$product['special']) { ?>
				          <?php echo $product['price']; ?>
				          <?php } else { ?>
				          <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
				          <?php } ?>
				          <?php if ($product['tax']) { ?>
				          <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
				          <?php } ?>
				        </p>
			        </div>
			        <div class="pull-right">
			        	<button class="button-cart" type="button" onclick="cart.add('<?php echo $product['product_id']; ?>');"> <span><?php echo $button_cart; ?></span><span><?php echo $button_cart; ?></span></button>
			        </div>
				</div>
            
          </div>
        </div>
        <?php } ?>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
        <div class="col-sm-6 text-right results_search"><?php echo $results; ?></div>
      </div>
      <?php } else { ?>
      <div class="success_error">
        <p><?php echo $text_empty; ?></p>
      </div>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
        $('input[name=\'sub_category\']').parent().addClass('disabled')
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
        $('input[name=\'sub_category\']').parent().removeClass('disabled');
	}
});

$('select[name=\'category_id\']').trigger('change');

$('.search_container>div input[type="checkbox"]').each(function() {
  var state = $(this).prop('checked');
  if (state) {
    $(this).parent().addClass('checked');
  }
  else {
    $(this).parent().removeClass('checked');
  }
});

$(document).on('change', '.search_container>div input[type="checkbox"]', function(){
    $(this).parent().toggleClass('checked');
});

$(document).on('click', '#list-view[data-active]', function(){
    $('#grid-view').removeClass('active');
    $(this).addClass('active');
});
$(document).on('click', '#grid-view[data-active]', function(){
    $('#list-view').removeClass('active');
    $(this).addClass('active');
});

--></script>
<?php echo $footer; ?>
