body {
	font-family: Lato, sans-serif;
	font-weight: 400;
	color: #444;
	font-size:14px;
	line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
	color: #2E3034;
	font-family: Armata,serif;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 13px;
}
.input-group .input-group-addon {
	font-size: 13px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 0px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #000000;
	background-color: #ebf2d8;
	/*background-image: linear-gradient(to bottom, #679000, #679000);
	background-repeat: repeat-x;*/
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 0px 0px 13px 0;
	margin: 0 0 20px 0;
	/*min-height: 20px;*/
}
#top .container {
	padding: 0px 10px 10px 10px;
	height:20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #000000;
	background-color: #ebf2d8;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #000;
}
#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 15px 0;
}
/* search */
#search {
	margin-bottom: 10px;
	margin-top: 6px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
	margin-top: 5px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #444;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

/* Custom added */
#cart > .cart-inactive {
  color: #777;
  display:block;
  width:100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #cdcdcd #cdcdcd #b8b8b8 #b9b9b9;
}

#cart > .cart-active {
	color: #fff;
	display:block;
	width:100%;
color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7fb22d;
  background-image: linear-gradient(to bottom, #95cf35, #84b82d);
  background-repeat: repeat-x;
  border-color: #84b82d #84b82d #6e9926;
}

/* menu */
#menu {
	background-color: #333333;
	background-image: linear-gradient(to bottom, #444444, #333333);
	background-repeat: repeat-x;
	border-color: #444 #222 #555;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
	text-transform: uppercase;
	font-weight:300;
	font-family: Armata,serif;
	font-size: 1em;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
	font-weight:400;
	font-family: Armata,serif;
	
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #679000, #5c8100);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #689B2F;
	background-image: linear-gradient(to bottom, #689B2F, #689B2F); /* custom */
	background-repeat: repeat-x; /* custom */
	border-color: #689B2F #689B2F #689B2F; /* custom */
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #2e3034;
	border-top: 4px solid #80b22c;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform:uppercase;
	color: #fff;
}
footer ul li {
	padding:0 0 0 12px;	
	background: url('/image/catalog/www/footer_bullet.png') no-repeat left center;
}


footer div.container2 { background:#111;padding:30px 0; text-align:center; }
footer img.logo { padding: 10px 20px; text-align:center; }
.gpser-green { color:#7fb22d; }
footer img.soc_logos { padding:0 2px; }

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
	/*background:none;*/
	margin-top:-5px;
  	margin-bottom: 20px;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	padding: 0 10px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: -5px;
	width: 8px;
	height: 8px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}

.breadcrumb a { color:#666; } /* custom */


/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #7fb22d;
	background-image: linear-gradient(to bottom, #95cf35, #84b82d);
	background-repeat: repeat-x;
	border-color: #84b82d #84b82d #6e9926;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #84b82d;
	background-position: 0 -15px;
	border-color:#608621;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #444;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #fff;
	border:1px solid #ccc;
	/*background-image: linear-gradient(to bottom, #3e4146, #2e3034);
	background-repeat: repeat-x;
	border-color: #ccc;*/
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color: #fff;
	background-color: #7fb22d;
  	background-image: linear-gradient(to bottom, #95cf35, #84b82d);
  	background-repeat: repeat-x;
  	border: 0px solid #84b82d;
}

#cart > .btn-inverse:hover { color: #fff; }

/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #666666;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 140px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
	font-weight: 700;
	font-family: Armata,serif;
}
.product-thumb .price {
	color: #444;
	font-weight: 700;
	font-family:Armata,serif;
	font-size:18px;
}
.product-thumb .price-new {
	font-weight: 600;
	font-family:Armata,serif;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
	font-family:Armata,serif;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 11px;
	font-weight:normal;
	display: block;
	font-family:Armata,serif;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #b9db7f;
}

@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #80b22c;
	color: #fff;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 15px;
}
.thumbnails {
	margin-left: -15px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 15px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 94px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 15px;
}
/* Product image */
.thumbnail { margin-bottom:15px; }

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3{
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* Custom */
h1.start_h1 { font-size:16px; position:absolute;top:-1225px; margin-left:20px; }

.clear { clear:both; display:block; }

div#cart .fa-shopping-cart { font-size:18px; padding-right:10px; }

div#trygg-ehandel { margin-top:-10px; position:relative;}

table.table-striped > tbody > tr > td.text-right { white-space:nowrap; }

button#button-cart { font-size:18px; height:41px; line-height:20px; font-weight:bold; text-transform:uppercase; }

#search .btn-default { border-color: #ccc; } /* override search button border */

div.check-list { margin-top:-3px; }

/* slide pagination override */
#slideshow0 div.owl-pagination {
  text-align: center;
  top: 350px;
  right: 20px;
  position: absolute !important;
  opacity: 0.3;
}
div.owl-carousel { margin: 0 0 40px; }

nav#top .list-inline > li { padding-right:10px; padding-left:10px; }

.product-thumb button {
	padding:0 13px;
	border: none;
	display: inline-block;
	background-color: #80b22c;
	color: #fff;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
}
.product-thumb button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}

div.price-button-group div { padding-left:15px; padding-right: 15px; }

a.checkout-button { 
	display:inline-block; 
	background-color: #80b22c; 
	color: #fff; 
	padding:5px 15px; 
	font-size:1.2em;
	font-weight:bold;
  	background-color: #7fb22d;
  	background-image: linear-gradient(to bottom, #95cf35, #84b82d);
  	background-repeat: repeat-x;
  	border: 1px solid #84b82d;
  	border-radius: 4px;
}

a.checkout-button:hover { background-color: #84b82d;
	background-position: 0 -15px;
	border-color:#608621;
}

#cart .btn-danger { padding: 3px 5px; background-color: #e7e7e7; background-image: linear-gradient(to bottom, #eeeeee, #dddddd); background-repeat: repeat-x; border-color: #ccc; color:#666;   text-shadow: 0; }

/* Product list positions override */
h1.prod-list { padding-top:0; margin-top:0; }
.product-list .product-thumb .pull-left { margin-left:40px !important; }
.product-list .product-thumb .pull-right { float:left !important; }

/* Confirm Payment - Checkout */
input#qc_confirm_order { padding:0.9em 4em; float: right; font-size:18px; text-transform:uppercase; font-weight: bold; }
div.qc-summary div.form-control-static { text-align: right; }
div#custom_field_2_input { display:none; } /* hemsida field */
div#password_input { display:none !important; } /* pass field */

/* Labels */
div#quickcheckout label { font-weight:bold; }
div#quickcheckout span.help { font-weight:normal; font-size:11px; }

div#quickcheckout div#newsletter_input label, div#quickcheckout div#shipping_input label { font-weight: normal; }
div#quickcheckout .panel-heading * {  vertical-align: middle;  font-size: 15px;  font-weight: bold; }
div#shipping_method_wrap span.text:after { content: "\a"; display:block !important; }
div#shipping_method_wrap span.price { float:left; display:block !important; font-weight:normal; font-size:12px; text-align:left; min-width:200px; }
div#quickcheckout label img {  float: right;  height: 20px;  margin-bottom: 4px;  margin-left: 5px; }

/* Prod.visning */
h2.prod-price { font-size:36px; font-weight:bold; }
h2.new-price { color:red; }
li.permonth { font-weight:bold; }
div.prod-col-qty { padding:0; margin:0; }
div.prod-col-buybtn { padding:20px 0 0 10px; margin:0; }
div#product { background: #f7f7f7; padding:0 25px 10px 25px; border:1px solid #eee; border-radius: 5px; margin-bottom: 15px; }
div#product input[type=radio] { margin-left:0px; }
div#product div.form-group select { max-width:300px; }
div.option_desc { color:#888; margin-bottom:20px; }
span.price-rec { color:#999; text-decoration: line-through;}
div.prod-first-row { padding-left:15px; }
p.prod-name2 { color:#888; }
#content .list-unstyled { padding-left:0;padding-right:0; }
div.need-help { border-bottom:1px solid #eee;border-top:1px solid #eee;padding-bottom:10px; }

/* Tabs */
.nav-tabs>li>a { background: #3D4044;color: #fff;border: 1px solid #3D4044; }
.nav-tabs>li>a:hover { background: #52565b;border: 1px solid #3D4044; }
div.tab-content { border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:20px; }
span.per_mon {  padding:0 0 0 20px; float:right; font-weight:bold; display:inline-block; }

/* Lagerstatus */
span.stock-color-green { color:green; font-weight:bold; }
span.stock-color-red { color:red; font-weight:bold; }

a.xs-top-icon { martin-top:-5px; }

div#powered { text-align:center; padding-bottom:10px; color:#888; }

#supermenu ul li.noviewall div.bigdiv div.linkoftopitem { display:none; }
#toTop { display: block; position: fixed; top: 81%; right: 1%; padding: 10px; opacity:0.2; }
#clock {  background: #f5f5f5; color: #111; padding: 1px 4px; border-radius: 4px; }

div.fb-banner { width:254px;overflow:hidden;width:260px;overflow:hidden;border:1px solid #ccc }

/* Carousel - Partners - center fix */
div#carousel0 div.owl-item .item img { margin:0 auto; }


/* Läs mer - Dator */
@media (min-width: 376px) {
	
	div.article  div.gradient { width:94%; height:150px; border:0px solid black; position:absolute; }
	
	div.gradient:before {
	  content:'';
	  width:97%;
	  height:200px;    
	  position:absolute;
	  background:linear-gradient(transparent 50px, white);
	}
}

/* Läs mer - Mobiler */
@media (max-width: 375px) {
	
	div.article  div.gradient { width:87%; height:150px; border:0px solid black; position:absolute; }
	
	div.gradient:before {
	  	content:'';
		width:90%;
	  	height:200px;    
	  	position:absolute;
	  	border:0px solid red;
	  	overflow:hidden;
	  	background:linear-gradient(transparent 50px, white);
	}
}

.btn-read-more {
    height:30px;
    padding:5px;
    width:110px !important;
    border:1px solid #bbb;
    margin-top:20px;
}