<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      	<?php if($customer_added_to_visma==0){ ?>
          <button name="vismaAcc" class="btn btn-info" id="vismaVer">Visma eEkonomi Export</button>
		<?php }else { ?>
			<button name="vismaAcc" class="btn btn-success" id="vismaAdded">Added in Visma</button>
		<?php } ?>
      	<a href="<?php echo $invoice; ?>&amp;waybill=true" target="_blank" data-toggle="tooltip" title="Skriv ut följesedel" class="btn btn-info"><i class="fa fa-print"></i></a>
      	<a href="<?php echo $invoice; ?>" target="_blank" data-toggle="tooltip" title="<?php echo $button_invoice_print; ?>" class="btn btn-info"><i class="fa fa-file-text-o"></i></a> 
      	<a href="<?php echo $label; ?>" target="_blank" data-toggle="tooltip" title="Skriv ut etikett" class="btn btn-info"><i class="fa fa-file-pdf-o"></i></a>
      	<a href="<?php echo $shipping; ?>" target="_blank" data-toggle="tooltip" title="<?php echo $button_shipping_print; ?>" class="btn btn-info"><i class="fa fa-truck"></i></a> 
      	<a href="<?php echo $edit; ?>" data-toggle="tooltip" title="<?php echo $button_edit; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a> 
      	<a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $heading_title; ?></h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-order" data-toggle="tab"><i class="fa fa-bars"></i> <?php echo $tab_order; ?></a></li>
          <li><a href="#tab-payment" data-toggle="tab"><i class="fa fa-credit-card"></i> <?php echo $tab_payment; ?></a></li>
          <?php if ($shipping_method) { ?>
          <li><a href="#tab-shipping" data-toggle="tab"><i class="fa fa-truck"></i> <?php echo $tab_shipping; ?></a></li>
          <?php } ?>
          <li><a href="#tab-product" data-toggle="tab"><i class="fa fa-folder-open-o"></i> <?php echo $tab_product; ?></a></li>
          <li><a href="#tab-history" data-toggle="tab"><i class="fa fa-history"></i> <?php echo $tab_history; ?></a></li>
          <li><a href="#tab-custom" data-toggle="tab"><i class="fa fa-info-circle" <?php if ($internal_comment) { ?>style="color:red;"<?php } ?>></i> Custom</a></li>
          <?php if ($payment_action) { ?>
          <li><a href="#tab-action" data-toggle="tab"><?php echo $tab_action; ?></a></li>
          <?php } ?>
          <?php if ($maxmind_id) { ?>
          <li><a href="#tab-fraud" data-toggle="tab"><?php echo $tab_fraud; ?></a></li>
          <?php } ?>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-order">
            <table class="table table-bordered">
              <tr>
                <td><?php echo $text_order_id; ?></td>
                <td>#<?php echo $order_id; ?></td>
              </tr>
              <tr>
                <td><?php echo $text_invoice_no; ?></td>
                <td><?php if ($invoice_no) { ?>
                  <?php echo $invoice_no; ?>
                  <?php } else { ?>
                  <button id="button-invoice" class="btn btn-success btn-xs"><i class="fa fa-cog"></i> <?php echo $button_generate; ?></button>
                  <?php } ?></td>
              </tr>
              <tr>
                <td><?php echo $text_store_name; ?></td>
                <td><?php echo $store_name; ?></td>
              </tr>
              <tr>
                <td><?php echo $text_store_url; ?></td>
                <td><a href="<?php echo $store_url; ?>" target="_blank"><?php echo $store_url; ?></a></td>
              </tr>
              <?php if ($customer) { ?>
              <tr>
                <td><?php echo $text_customer; ?></td>
                <td><a href="<?php echo $customer; ?>" target="_blank"><?php echo $firstname; ?> <?php echo $lastname; ?></a></td>
              </tr>
              <?php } else { ?>
              <tr>
                <td><?php echo $text_customer; ?></td>
                <td><?php echo $firstname; ?> <?php echo $lastname; ?></td>
              </tr>
              <?php } ?>
              <?php if ($customer_group) { ?>
              <tr>
                <td><?php echo $text_customer_group; ?></td>
                <td><?php echo $customer_group; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_email; ?></td>
                <td><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></td>
              </tr>
              <tr>
                <td><?php echo $text_telephone; ?></td>
                <td><?php echo $telephone; ?></td>
              </tr>
              <?php if ($fax) { ?>
              <tr>
                <td><?php echo $text_fax; ?></td>
                <td><?php echo $fax; ?></td>
              </tr>
              <?php } ?>
              <?php foreach ($account_custom_fields as $custom_field) { ?>
              <tr>
                <td><?php echo $custom_field['name']; ?>:</td>
                <td><?php echo $custom_field['value']; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_total; ?></td>
                <td><?php echo $total; ?></td>
              </tr>
              <?php if ($customer && $reward) { ?>
              <tr>
                <td><?php echo $text_reward; ?></td>
                <td><?php echo $reward; ?>
                  <?php if (!$reward_total) { ?>
                  <button id="button-reward-add" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i> <?php echo $button_reward_add; ?></button>
                  <?php } else { ?>
                  <button id="button-reward-remove" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i> <?php echo $button_reward_remove; ?></button>
                  <?php } ?></td>
              </tr>
              <?php } ?>
              <?php if ($order_status) { ?>
              <tr>
                <td><?php echo $text_order_status; ?></td>
                <td id="order-status"><?php echo $order_status; ?></td>
              </tr>
              <?php } ?>
              <?php if ($comment) { ?>
              <tr>
                <td><?php echo $text_comment; ?></td>
                <td><?php echo $comment; ?></td>
              </tr>
              <?php } ?>
              <?php if ($affiliate) { ?>
              <tr>
                <td><?php echo $text_affiliate; ?></td>
                <td><a href="<?php echo $affiliate; ?>"><?php echo $affiliate_firstname; ?> <?php echo $affiliate_lastname; ?></a></td>
              </tr>
              <tr>
                <td><?php echo $text_commission; ?></td>
                <td><?php echo $commission; ?>
                  <?php if (!$commission_total) { ?>
                  <button id="button-commission-add" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i> <?php echo $button_commission_add; ?></button>
                  <?php } else { ?>
                  <button id="button-commission-remove" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i> <?php echo $button_commission_remove; ?></button>
                  <?php } ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip) { ?>
              <tr>
                <td><?php echo $text_ip; ?></td>
                <td><?php echo $ip; ?></td>
              </tr>
              <?php } ?>
              <?php if ($forwarded_ip) { ?>
              <tr>
                <td><?php echo $text_forwarded_ip; ?></td>
                <td><?php echo $forwarded_ip; ?></td>
              </tr>
              <?php } ?>
              <?php if ($user_agent) { ?>
              <tr>
                <td><?php echo $text_user_agent; ?></td>
                <td><?php echo $user_agent; ?></td>
              </tr>
              <?php } ?>
              <?php if ($accept_language) { ?>
              <tr>
                <td><?php echo $text_accept_language; ?></td>
                <td><?php echo $accept_language; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_date_added; ?></td>
                <td><?php echo $date_added; ?></td>
              </tr>
              <tr>
                <td><?php echo $text_date_modified; ?></td>
                <td><?php echo $date_modified; ?></td>
              </tr>
              <?php
              // Custom added 
              if ($tracking) { ?>
              <tr>
                <td>Tracking code:</td>
                <td><?php echo $tracking; ?></td>
              </tr>
              <?php } ?>
            </table>
          </div>
          <div class="tab-pane" id="tab-payment">
            <table class="table table-bordered tabljeta">
              <tr>
                <td class="col1"><?php echo $text_firstname; ?></td>
                <td><?php echo $payment_firstname; ?></td>
              </tr>
              <tr>
                <td class="col1"><?php echo $text_lastname; ?></td>
                <td><?php echo $payment_lastname; ?></td>
              </tr>
              <?php if ($payment_company) { ?>
              <tr>
                <td><?php echo $text_company; ?></td>
                <td><?php echo $payment_company; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_address_1; ?></td>
                <td><?php echo $payment_address_1; ?></td>
              </tr>
              <?php if ($payment_address_2) { ?>
              <tr>
                <td><?php echo $text_address_2; ?></td>
                <td><?php echo $payment_address_2; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_city; ?></td>
                <td><?php echo $payment_city; ?></td>
              </tr>
              <?php if ($payment_postcode) { ?>
              <tr>
                <td><?php echo $text_postcode; ?></td>
                <td><?php echo $payment_postcode; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_zone; ?></td>
                <td><?php echo $payment_zone; ?></td>
              </tr>
              <?php if ($payment_zone_code) { ?>
              <tr>
                <td><?php echo $text_zone_code; ?></td>
                <td><?php echo $payment_zone_code; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_country; ?></td>
                <td><?php echo $payment_country; ?></td>
              </tr>
              <?php foreach ($payment_custom_fields as $custom_field) { ?>
              <tr>
                <td><?php echo $custom_field['name']; ?>:</td>
                <td><?php echo $custom_field['value']; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_payment_method; ?></td>
                <td><?php echo $payment_method; ?></td>
              </tr>
            </table>
          </div>
          <?php if ($shipping_method) { ?>
          <div class="tab-pane" id="tab-shipping">
            <table class="table table-bordered">
              <tr>
                <td class="col1"><?php echo $text_firstname; ?></td>
                <td><?php echo $shipping_firstname; ?></td>
              </tr>
              <tr>
                <td><?php echo $text_lastname; ?></td>
                <td><?php echo $shipping_lastname; ?></td>
              </tr>
              <?php if ($shipping_company) { ?>
              <tr>
                <td><?php echo $text_company; ?></td>
                <td><?php echo $shipping_company; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_address_1; ?></td>
                <td><?php echo $shipping_address_1; ?></td>
              </tr>
              <?php if ($shipping_address_2) { ?>
              <tr>
                <td><?php echo $text_address_2; ?></td>
                <td><?php echo $shipping_address_2; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_city; ?></td>
                <td><?php echo $shipping_city; ?></td>
              </tr>
              <?php if ($shipping_postcode) { ?>
              <tr>
                <td><?php echo $text_postcode; ?></td>
                <td><?php echo $shipping_postcode; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_zone; ?></td>
                <td><?php echo $shipping_zone; ?></td>
              </tr>
              <?php if ($shipping_zone_code) { ?>
              <tr>
                <td><?php echo $text_zone_code; ?></td>
                <td><?php echo $shipping_zone_code; ?></td>
              </tr>
              <?php } ?>
              <tr>
                <td><?php echo $text_country; ?></td>
                <td><?php echo $shipping_country; ?></td>
              </tr>
              <?php foreach ($shipping_custom_fields as $custom_field) { ?>
              <tr>
                <td><?php echo $custom_field['name']; ?>:</td>
                <td><?php echo $custom_field['value']; ?></td>
              </tr>
              <?php } ?>
              <?php if ($shipping_method) { ?>
              <tr>
                <td><?php echo $text_shipping_method; ?></td>
                <td><?php echo $shipping_method; ?></td>
              </tr>
              <?php } ?>
            </table>
          </div>
          <?php } ?>
          <div class="tab-pane" id="tab-product">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-left"><?php echo $column_product; ?></td>
                  <td class="text-left"><?php echo $column_model; ?></td>
                  <td class="text-right"><?php echo $column_quantity; ?></td>
                  <td class="text-right"><?php echo $column_price; ?></td>
                  <td class="text-right"><?php echo $column_total; ?></td>
                </tr>
              </thead>
              <tbody>
                <?php foreach ($products as $product) { ?>
                <tr>
                  <td class="text-left"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                    <?php foreach ($product['option'] as $option) { ?>
                    <br />
                    <?php if ($option['type'] != 'file') { ?>
                    &nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
                    <?php } else { ?>
                    &nbsp;<small> - <?php echo $option['name']; ?>: <a href="<?php echo $option['href']; ?>"><?php echo $option['value']; ?></a></small>
                    <?php } ?>
                    <?php } ?></td>
                  <td class="text-left"><?php echo $product['model']; ?></td>
                  <td class="text-right"><?php echo $product['quantity']; ?></td>
                  <td class="text-right"><?php echo $product['price']; ?></td>
                  <td class="text-right"><?php echo $product['total']; ?></td>
                </tr>
                <?php } ?>
                <?php foreach ($vouchers as $voucher) { ?>
                <tr>
                  <td class="text-left"><a href="<?php echo $voucher['href']; ?>"><?php echo $voucher['description']; ?></a></td>
                  <td class="text-left"></td>
                  <td class="text-right">1</td>
                  <td class="text-right"><?php echo $voucher['amount']; ?></td>
                  <td class="text-right"><?php echo $voucher['amount']; ?></td>
                </tr>
                <?php } ?>
                <?php foreach ($totals as $total) { ?>
                <tr>
                  <td colspan="4" class="text-right"><?php echo $total['title']; ?>:</td>
                  <td class="text-right"><?php echo $total['text']; ?></td>
                </tr>
                <?php } ?>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab-history">
            <div id="history"></div>
            <br />
            <fieldset>
              <legend><?php echo $text_history; ?></legend>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-order-status"><?php echo $entry_order_status; ?></label>
                  <div class="col-sm-10">
                    <select name="order_status_id" id="input-order-status" class="form-control">
                      <?php foreach ($order_statuses as $order_statuses) { ?>
                      <?php if ($order_statuses['order_status_id'] == $order_status_id) { ?>
                      <option value="<?php echo $order_statuses['order_status_id']; ?>" selected="selected"><?php echo $order_statuses['name']; ?></option>
                      <?php } else { ?>
                      <option value="<?php echo $order_statuses['order_status_id']; ?>"><?php echo $order_statuses['name']; ?></option>
                      <?php } ?>
                      <?php } ?>
                    </select>
                    
                    
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-notify"><?php echo $entry_notify; ?></label>
                  <div class="col-sm-10">
                    <input type="checkbox" name="notify" value="1" id="input-notify" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-comment"><?php echo $entry_comment; ?></label>
                  <div class="col-sm-10">
                    <textarea name="comment" rows="8" id="input-comment" class="form-control"></textarea>
                  </div>
                </div>
                
                <div class="form-group" id="shippit" style="display:none;">
	                <div class="col-sm-2"></div>
	                <div class="col-sm-10" >
	            		<label for="r1">Fraktsätt DHL:</label> <input type="radio" name="shipmentmethod" id="r1" value="2" />&nbsp; 
	            		<label for="r2">Fraktsätt Posten:</label> <input type="radio" name="shipmentmethod" id="r2" value="1" />
	            	</div>
            	</div>
              </form>
              
              <?php 
              // START OF CUSTOM ADDED
              
              // Shipped
			  $shippedMsg = 'Din leverans är nu på väg från vårt lager.' . "\\n";
			  $shippedMsg .= 'Du kan spåra din order genom att surfa in på http://www.postnord.se och söka efter ditt kollinummer.'."\\n";
			  $shippedMsg .= 'Kollinummer för denna order är följande: ';
			  $shippedMsg .= 'XXXXXXXXXX'."\\n"."\\n"."\\n";
			  
			 	echo '<input type="hidden" value="'.$shippedMsg.'" name="kollinr" />';
               
              // Best regards
              $bestRegards = 'Med vänliga hälsningar,'."\\n";
			  $bestRegards .= '-----------------------------------------------------------------'."\\n";
			  $bestRegards .= 'GPSER Sweden AB'."\\n";
			  $bestRegards .= 'Honnörsgatan 2'."\\n";
			  $bestRegards .= '352 36 Växjö'."\\n"."\\n";
			  
			  $bestRegards .= 'E-post: info@gpser.se'."\\n";
			  $bestRegards .= 'Telefon: 0470-78 68 33'."\\n";
			  $bestRegards .= 'Webbshop: www.gpser.se'."\\n";
			  $bestRegards .= 'Facebook: https://www.facebook.com/gpser'."\\n";
			  $bestRegards .= '-----------------------------------------------------------------'."\\n";
			  
			  echo '<input type="hidden" value="'.$bestRegards.'" name="regards" />';
			  
			  
			  // ========> DHL
			  
			  // Shipped
			  $dhl_url = "https://activetracing.dhl.com/DatPublic/datSelection.do";
			  $shippedMsgDHL = 'Din leverans är nu på väg från vårt lager.' . "\\n";
			  $shippedMsgDHL .= 'Du kan spåra ditt paket genom att surfa in på '.$dhl_url.' och söka på ditt sändningsnummer.'."\\n";
			  $shippedMsgDHL .= 'Sändningsnummer: ';
			  $shippedMsgDHL .= 'XXXXXXXXXX'."\\n"."\\n";
			  $shippedMsgDHL .= 'Det kan ta upp till 8h innan ditt paket registreras av fraktbolaget och blir sökbar i deras system.'."\\n"."\\n"."\\n";
			  
			  echo '<input type="hidden" value="'.$shippedMsgDHL.'" name="dhlkollinr" />';
			  
              ?>
              
              <script type="text/javascript">
              $(document).ready(function(){
				$('select[name=order_status_id]').change(function(){
					var order_status = $('select[name=order_status_id]').val();
					
					if ( order_status == 3 ) {
						//$('textarea[name=comment]').attr('value','<?php echo $shippedMsg . $bestRegards; ?>');
						$('div#shippit').css('display','block');
					}
				});
				
				$('input[name=shipmentmethod]').change(function(){
					
					$("#r1").click(function(){
						$('textarea[name=comment]').val('<?php echo $shippedMsgDHL . $bestRegards; ?>');
					});
					
					$("#r2").click(function(){
						$('textarea[name=comment]').val('<?php echo $shippedMsg . $bestRegards; ?>');
					});
				});
					              		
              });
              </script>
              <?php 
              // END OF CUSTOM ADDED
              ?>
              
              <div class="text-right">
                <button id="button-history" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i> <?php echo $button_history_add; ?></button>
              </div>
            </fieldset>
          </div>
          <?php if ($payment_action) { ?>
          <div class="tab-pane" id="tab-action"> <?php echo $payment_action; ?> </div>
          <?php } ?>
          
          	<!-- Custom added -->
           <div class="tab-pane" id="tab-custom">
            <table class="table table-bordered">
              
		          <tr>
		            <td>
		            	<label for="internal-comment" class="control-label"><span data-toggle="tooltip" title="" data-original-title="(Visas ej för kunden)">Privat kommentar:</span></label></td>
		            <td>
		            	<div id="internal-comment-saved"></div>
		            	<textarea rows="11" cols="97" name="internal_comment"><?php echo $internal_comment; ?></textarea><br />
		            	<a onclick="internal_comment();" class="btn btn-primary" id="internal-comment">Spara</a>
		            	<script type="text/javascript">
		        		// Custom added 
						// Ajax function that saves internal comment
						function internal_comment() {
							
							$.ajax({
								type: 'POST',
								url: 'index.php?route=sale/order/internal_comment&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
								dataType: 'html',
								data: 'internal_comment=' + encodeURIComponent($('textarea[name=\'internal_comment\']').val()),
								beforeSend: function() {
									$('.success, .warning').remove();
									$('#internal-comment').attr('disabled', true);
									$('#internal-comment').prepend('<div class="attention">Please wait...</div>');
								},
								complete: function() {
									$('#internal-comment').attr('disabled', false);
									$('.attention').remove();
								},
								success: function(html) {
									$('#internal-comment-saved').html('<span style="color:green">Internal comment saved</span>');
								}
							});
						}
		            	</script>
					</td>
		          </tr>
		          <tr>
						<td><label class="control-label"><span data-toggle="tooltip" title="" data-original-title="Visar var kunden har klickat för att komma till vår sajt innan orderläggning">Tracking referer</span></label></td>
						<td><?php echo htmlspecialchars_decode( urldecode( $track_referer ) ); ?></td>
				  </tr>
				  <tr>
						<td><label for="what" class="control-label">Sök på Allabolag</label></td>
						<td>
							<form action="http://www.allabolag.se/" method="get" target="_blank">
								
								<input type="text" name="what" name="id" value="<?php foreach ($payment_custom_fields as $custom_field) { ?><?php echo $custom_field['value']; ?><?php } ?>" />
								<input type="submit" class="button" value="Sök" />
							</form>
						</td>
				  </tr>
				  <tr>
					<td>
						<label for="internal-comment" class="control-label"><span data-toggle="tooltip" title="" data-original-title="Skapar en CSV fil för import av kontakten till Visma">Skapa CSV kontakt</span></label>
					</td>
					<td>
						<a href="custom/create_csv_contact.php?oid=<?php echo $order_id; ?>" target="_blank">Skapa CSV-fil</a>
					</td>
			  </tr>
			  <tr>
					<td>
						<label for="internal-comment" class="control-label"><span data-toggle="tooltip" title="" data-original-title="Skapar en ny Tracktor licens i subscribtion systemet">Skapa Tracktor licens</span></label>
					</td>
					<td>
						<!-- Custom: Tracktor license generator -->
						<form action="http://project.gpser.se/?subs&new" method="get" target="_blank">
							<input type="hidden" name="subs" value="1" />
							<input type="hidden" name="subCustType" value="<?php echo !empty($payment_company) ? 1 : 2; ?>" />
							<input type="hidden" name="new" value="1" />
							<input type="hidden" name="subReference" value="<?php echo $order_id; ?>" />
							<input type="hidden" name="subCompany" value="<?php echo !empty($payment_company) ? $payment_company : NULL; ?>" />
							<input type="hidden" name="subName" value="<?php echo $payment_firstname; ?> <?php echo $payment_lastname; ?>" />
														
							<?php
							/*
							 * Find out number of products, populate comment field with product name
							 */ 
							$tottracktorprod = 0;
							foreach ($products as $product) { ?>
			                	<?php echo $product['quantity']; ?>st <?php echo $product['name']; ?>
			                    <?php foreach ($product['option'] as $option) { ?>
			                    <br />
			                    <?php if ($option['type'] != 'file') { 
			                    	
									// Find word "Tracktor" in product options
									// If found it means Customer chose Tracktor system
									$a = $option['name'];
									if (strpos($a, 'Tracktor') !== false) {
									    //echo 'true';
									    ?>
				                    	<input type="hidden" name="subComment[]" value="<?php echo $product['quantity']; ?>st <?php echo $product['name']; ?> (nummer: +xxxxxxxxx)" />
				                    	<?php
									}
									
									// Find subscription length (6,12 or 24 "months")
									$a = $option['value'];
									$subsD = 0;
									$subsPrice = 0;
									
									if (strpos($a, '6') !== false) {
									    	
									    $subsD = 6;
										
										// Calculate price for MiniFinder Products
										if ( $product['model'] == 'GSE-GM7' || $product['model'] == 'GSE-MFA' || $product['model'] == 'GSE-MFAH' || $product['model'] == 'GSE-MFP'  ) {
											$subsPrice = 149;
										}
										
										// Calculate price for GSE-TT Products
										if ( $product['model'] == 'GSE-TT11' || $product['model'] == 'GSE-TT10' ) {
											$subsPrice = 179;
										}
										
									} elseif (strpos($a, '12') !== false) {
										
										$subsD = 12;
										
										// Calculate price for MiniFinder Products
										if ( $product['model'] == 'GSE-GM7' || $product['model'] == 'GSE-MFA' || $product['model'] == 'GSE-MFAH' || $product['model'] == 'GSE-MFP'  ) {
											$subsPrice = 129;
										}
										
										// Calculate price for GSE-TT Products
										if ( $product['model'] == 'GSE-TT11' || $product['model'] == 'GSE-TT10' ) {
											$subsPrice = 159;
										}
										
									} elseif (strpos($a, '24') !== false) {
										
										$subsD = 24;
										
										// Calculate price for MiniFinder Products
										if ( $product['model'] == 'GSE-GM7' || $product['model'] == 'GSE-MFA' || $product['model'] == 'GSE-MFAH' || $product['model'] == 'GSE-MFP'  ) {
											$subsPrice = 89;
										}
										
										// Calculate price for GSE-TT Products
										if ( $product['model'] == 'GSE-TT11' || $product['model'] == 'GSE-TT10' ) {
											$subsPrice = 149;
										}
										
									}
			                    	?>
				                    
				                    &nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
				                    <?php } else { ?>
				                    &nbsp;<small> - <?php echo $option['name']; ?>: <a href="<?php echo $option['href']; ?>"><?php echo $option['value']; ?></a></small>
				                    <?php } ?>
			                    <?php } ?>
			                  	
			                  	<br /><br />
			                  	
			                  <?php
			                  // Count total number of licenses
			                  $tottracktorprod +=  $product['quantity']; ?>
			                <?php } ?>
			                
			                <input type="hidden" name="subComment[]" value="<?php echo $email; ?>" />
			                
			                <input type="hidden" name="subEmail" value="<?php echo $email; ?>" />
			                
			                <div class="form-group required">
								<label class="col-sm-2 control-label" for="subUnitNum">Antal licenser:</label>
								<div class="col-sm-5">
									<input type="text" name="subUnitNum" id="subUnitNum" value="<?php echo $tottracktorprod; ?>" size="3" class="form-control" />
								</div>
							</div>
			                <br /><br />
			                <div class="form-group required">
								<label class="col-sm-2 control-label" for="subUnitCost">Pris/mån/enhet:</label>
								<div class="col-sm-5">
									<input type="text" name="subUnitCost" id="subUnitCost" value="<?php echo $subsPrice; ?>" size="3" class="form-control">
								</div>
							</div>
			                <br /><br />
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="subFixation">Bindningstid:</label>
								<div class="col-sm-5">
									<?php
									$subsD = !empty($subsD) ? $subsD : NULL;
									?>
									<select name="subFixation" id="subFixation" class="form-control">
										<option value="0">Ingen</option>
										<option value="3"<?php echo ($subsD == 3) ? 'selected="selected"' : NULL; ?>>3 månader</option>
										<option value="6"<?php echo ($subsD == 6) ? 'selected="selected"' : NULL; ?>>6 månader</option>
										<option value="12"<?php echo ($subsD == 12) ? 'selected="selected"' : NULL; ?>>12 månader</option>
										<option value="24"<?php echo ($subsD == 24) ? 'selected="selected"' : NULL; ?>>24 månader</option>
									</select>
								</div>
							</div>
			                <br /><br />
			                <div class="form-group">
								<label class="col-sm-2" for="input-none">&nbsp;</label>
								<div class="col-sm-10">
									<input type="submit" name="submitNow" value="Skapa Tracktor-licens" class="btn btn-primary" />
								</div>
							</div>
			                
						</form>
					</td>
			  </tr>
          </table>
          </div>
		  <!-- / Custom added -->
          
          <?php if ($maxmind_id) { ?>
          <div class="tab-pane" id="tab-fraud">
            <table class="table table-bordered">
              <?php if ($country_match) { ?>
              <tr>
                <td><?php echo $text_country_match; ?></td>
                <td><?php echo $country_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($country_code) { ?>
              <tr>
                <td><?php echo $text_country_code; ?></td>
                <td><?php echo $country_code; ?></td>
              </tr>
              <?php } ?>
              <?php if ($high_risk_country) { ?>
              <tr>
                <td><?php echo $text_high_risk_country; ?></td>
                <td><?php echo $high_risk_country; ?></td>
              </tr>
              <?php } ?>
              <?php if ($distance) { ?>
              <tr>
                <td><?php echo $text_distance; ?></td>
                <td><?php echo $distance; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_region) { ?>
              <tr>
                <td><?php echo $text_ip_region; ?></td>
                <td><?php echo $ip_region; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_city) { ?>
              <tr>
                <td><?php echo $text_ip_city; ?></td>
                <td><?php echo $ip_city; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_latitude) { ?>
              <tr>
                <td><?php echo $text_ip_latitude; ?></td>
                <td><?php echo $ip_latitude; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_longitude) { ?>
              <tr>
                <td><?php echo $text_ip_longitude; ?></td>
                <td><?php echo $ip_longitude; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_isp) { ?>
              <tr>
                <td><?php echo $text_ip_isp; ?></td>
                <td><?php echo $ip_isp; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_org) { ?>
              <tr>
                <td><?php echo $text_ip_org; ?></td>
                <td><?php echo $ip_org; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_asnum) { ?>
              <tr>
                <td><?php echo $text_ip_asnum; ?></td>
                <td><?php echo $ip_asnum; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_user_type) { ?>
              <tr>
                <td><?php echo $text_ip_user_type; ?></td>
                <td><?php echo $ip_user_type; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_country_confidence) { ?>
              <tr>
                <td><?php echo $text_ip_country_confidence; ?></td>
                <td><?php echo $ip_country_confidence; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_region_confidence) { ?>
              <tr>
                <td><?php echo $text_ip_region_confidence; ?></td>
                <td><?php echo $ip_region_confidence; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_city_confidence) { ?>
              <tr>
                <td><?php echo $text_ip_city_confidence; ?></td>
                <td><?php echo $ip_city_confidence; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_postal_confidence) { ?>
              <tr>
                <td><?php echo $text_ip_postal_confidence; ?></td>
                <td><?php echo $ip_postal_confidence; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_postal_code) { ?>
              <tr>
                <td><?php echo $text_ip_postal_code; ?></td>
                <td><?php echo $ip_postal_code; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_accuracy_radius) { ?>
              <tr>
                <td><?php echo $text_ip_accuracy_radius; ?></td>
                <td><?php echo $ip_accuracy_radius; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_net_speed_cell) { ?>
              <tr>
                <td><?php echo $text_ip_net_speed_cell; ?></td>
                <td><?php echo $ip_net_speed_cell; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_metro_code) { ?>
              <tr>
                <td><?php echo $text_ip_metro_code; ?></td>
                <td><?php echo $ip_metro_code; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_area_code) { ?>
              <tr>
                <td><?php echo $text_ip_area_code; ?></td>
                <td><?php echo $ip_area_code; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_time_zone) { ?>
              <tr>
                <td><?php echo $text_ip_time_zone; ?></td>
                <td><?php echo $ip_time_zone; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_region_name) { ?>
              <tr>
                <td><?php echo $text_ip_region_name; ?></td>
                <td><?php echo $ip_region_name; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_domain) { ?>
              <tr>
                <td><?php echo $text_ip_domain; ?></td>
                <td><?php echo $ip_domain; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_country_name) { ?>
              <tr>
                <td><?php echo $text_ip_country_name; ?></td>
                <td><?php echo $ip_country_name; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_continent_code) { ?>
              <tr>
                <td><?php echo $text_ip_continent_code; ?></td>
                <td><?php echo $ip_continent_code; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ip_corporate_proxy) { ?>
              <tr>
                <td><?php echo $text_ip_corporate_proxy; ?></td>
                <td><?php echo $ip_corporate_proxy; ?></td>
              </tr>
              <?php } ?>
              <?php if ($anonymous_proxy) { ?>
              <tr>
                <td><?php echo $text_anonymous_proxy; ?></td>
                <td><?php echo $anonymous_proxy; ?></td>
              </tr>
              <?php } ?>
              <?php if ($proxy_score) { ?>
              <tr>
                <td><?php echo $text_proxy_score; ?></td>
                <td><?php echo $proxy_score; ?></td>
              </tr>
              <?php } ?>
              <?php if ($is_trans_proxy) { ?>
              <tr>
                <td><?php echo $text_is_trans_proxy; ?></td>
                <td><?php echo $is_trans_proxy; ?></td>
              </tr>
              <?php } ?>
              <?php if ($free_mail) { ?>
              <tr>
                <td><?php echo $text_free_mail; ?></td>
                <td><?php echo $free_mail; ?></td>
              </tr>
              <?php } ?>
              <?php if ($carder_email) { ?>
              <tr>
                <td><?php echo $text_carder_email; ?></td>
                <td><?php echo $carder_email; ?></td>
              </tr>
              <?php } ?>
              <?php if ($high_risk_username) { ?>
              <tr>
                <td><?php echo $text_high_risk_username; ?></td>
                <td><?php echo $high_risk_username; ?></td>
              </tr>
              <?php } ?>
              <?php if ($high_risk_password) { ?>
              <tr>
                <td><?php echo $text_high_risk_password; ?></td>
                <td><?php echo $high_risk_password; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_match) { ?>
              <tr>
                <td><?php echo $text_bin_match; ?></td>
                <td><?php echo $bin_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_country) { ?>
              <tr>
                <td><?php echo $text_bin_country; ?></td>
                <td><?php echo $bin_country; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_name_match) { ?>
              <tr>
                <td><?php echo $text_bin_name_match; ?></td>
                <td><?php echo $bin_name_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_name) { ?>
              <tr>
                <td><?php echo $text_bin_name; ?></td>
                <td><?php echo $bin_name; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_phone_match) { ?>
              <tr>
                <td><?php echo $text_bin_phone_match; ?></td>
                <td><?php echo $bin_phone_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($bin_phone) { ?>
              <tr>
                <td><?php echo $text_bin_phone; ?></td>
                <td><?php echo $bin_phone; ?></td>
              </tr>
              <?php } ?>
              <?php if ($customer_phone_in_billing_location) { ?>
              <tr>
                <td><?php echo $text_customer_phone_in_billing_location; ?></td>
                <td><?php echo $customer_phone_in_billing_location; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ship_forward) { ?>
              <tr>
                <td><?php echo $text_ship_forward; ?></td>
                <td><?php echo $ship_forward; ?></td>
              </tr>
              <?php } ?>
              <?php if ($city_postal_match) { ?>
              <tr>
                <td><?php echo $text_city_postal_match; ?></td>
                <td><?php echo $city_postal_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($ship_city_postal_match) { ?>
              <tr>
                <td><?php echo $text_ship_city_postal_match; ?></td>
                <td><?php echo $ship_city_postal_match; ?></td>
              </tr>
              <?php } ?>
              <?php if ($score) { ?>
              <tr>
                <td><?php echo $text_score; ?></td>
                <td><?php echo $score; ?></td>
              </tr>
              <?php } ?>
              <?php if ($explanation) { ?>
              <tr>
                <td><?php echo $text_explanation; ?></td>
                <td><?php echo $explanation; ?></td>
              </tr>
              <?php } ?>
              <?php if ($risk_score) { ?>
              <tr>
                <td><?php echo $text_risk_score; ?></td>
                <td><?php echo $risk_score; ?></td>
              </tr>
              <?php } ?>
              <?php if ($queries_remaining) { ?>
              <tr>
                <td><?php echo $text_queries_remaining; ?></td>
                <td><?php echo $queries_remaining; ?></td>
              </tr>
              <?php } ?>
              <?php if ($maxmind_id) { ?>
              <tr>
                <td><?php echo $text_maxmind_id; ?></td>
                <td><?php echo $maxmind_id; ?></td>
              </tr>
              <?php } ?>
              <?php if ($error) { ?>
              <tr>
                <td><?php echo $text_error; ?></td>
                <td><?php echo $error; ?></td>
              </tr>
              <?php } ?>
            </table>
          </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
  // Custom added
  // ********* Visma Account start ****** //
	$('#vismaAdded').click(function(){
		
		$(this).text('ADDED Already ');
			
	});
	
	$('#vismaVer').click(function(){
	   
	   window.location="https://www.gpser.se/visma_callback.php?orderId=<?php echo $order_id; ?>&cin=<?php echo $custom_field['value']; ?>&name=<?php echo $firstname; ?>%20<?php echo $lastname; ?>&c_name=<?php echo $payment_company; ?>&c_group=<?php echo $customer_group;?>&add=<?php echo $payment_address_1; ?>&add2=<?php echo $payment_address_2; ?>&zip=<?php echo $payment_postcode; ?>&city=<?php echo $payment_city; ?>&country=<?php echo $payment_country_iso2 ?>&email=<?php echo $email; ?>&phone=<?php echo $telephone; ?>";
	   <?php // Removed $store_url variable because minifinder.se domain not added by Visma ?>
	   //window.location="<?php echo $store_url; ?>callback.php?orderId=<?php echo $order_id; ?>&cin=<?php echo $custom_field['value']; ?>&name=<?php echo $firstname; ?>%20<?php echo $lastname; ?>&c_name=<?php echo $payment_company; ?>&c_group=<?php echo $customer_group;?>&add=<?php echo $payment_address_1; ?>&add2=<?php echo $payment_address_2; ?>&zip=<?php echo $payment_postcode; ?>&city=<?php echo $payment_city; ?>&country=<?php echo $payment_country_iso2 ?>&email=<?php echo $email; ?>&phone=<?php echo $telephone; ?>";
	        
	});
  // ********* Visma Account End ****** //
  
  
$(document).delegate('#button-invoice', 'click', function() {
	$.ajax({
		url: 'index.php?route=sale/order/createinvoiceno&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
		dataType: 'json',
		beforeSend: function() {
			$('#button-invoice').button('loading');			
		},
		complete: function() {
			$('#button-invoice').button('reset');
		},
		success: function(json) {
			$('.alert').remove();
						
			if (json['error']) {
				$('#tab-order').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['invoice_no']) {
				$('#button-invoice').replaceWith(json['invoice_no']);
			}
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).delegate('#button-reward-add', 'click', function() {
	$.ajax({
		url: 'index.php?route=sale/order/addreward&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-reward-add').button('loading');
		},
		complete: function() {
			$('#button-reward-add').button('reset');
		},									
		success: function(json) {
			$('.alert').remove();
						
			if (json['error']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
				
				$('#button-reward-add').replaceWith('<button id="button-reward-remove" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i> <?php echo $button_reward_remove; ?></button>');
			}
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).delegate('#button-reward-remove', 'click', function() {
	$.ajax({
		url: 'index.php?route=sale/order/removereward&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-reward-remove').button('loading');
		},
		complete: function() {
			$('#button-reward-remove').button('reset');
		},				
		success: function(json) {
			$('.alert').remove();
						
			if (json['error']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
				
				$('#button-reward-remove').replaceWith('<button id="button-reward-add" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i> <?php echo $button_reward_add; ?></button>');
			}
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).delegate('#button-commission-add', 'click', function() {
	$.ajax({
		url: 'index.php?route=sale/order/addcommission&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-commission-add').button('loading');
		},
		complete: function() {
			$('#button-commission-add').button('reset');
		},			
		success: function(json) {
			$('.alert').remove();
						
			if (json['error']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
                
				$('#button-commission-add').replaceWith('<button id="button-commission-remove" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i> <?php echo $button_commission_remove; ?></button>');
			}
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).delegate('#button-commission-remove', 'click', function() {
	$.ajax({
		url: 'index.php?route=sale/order/removecommission&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-commission-remove').button('loading');
		
		},
		complete: function() {
			$('#button-commission-remove').button('reset');
		},		
		success: function(json) {
			$('.alert').remove();
						
			if (json['error']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['success']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
				
				$('#button-commission-remove').replaceWith('<button id="button-commission-add" class="btn btn-success btn-xs"><i class="fa fa-minus-circle"></i> <?php echo $button_commission_add; ?></button>');
			}
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#history').delegate('.pagination a', 'click', function(e) {
	e.preventDefault();
	
	$('#history').load(this.href);
});			

$('#history').load('index.php?route=sale/order/history&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>');

$('#button-history').on('click', function() {
  if(typeof verifyStatusChange == 'function'){
    if(verifyStatusChange() == false){
      return false;
    }else{
      addOrderInfo();
    }
  }else{
    addOrderInfo();
  }

	$.ajax({
		url: 'index.php?route=sale/order/api&token=<?php echo $token; ?>&api=api/order/history&order_id=<?php echo $order_id; ?>',
		type: 'post',
		dataType: 'json',
		data: 'order_status_id=' + encodeURIComponent($('select[name=\'order_status_id\']').val()) + '&notify=' + ($('input[name=\'notify\']').prop('checked') ? 1 : 0) + '&append=' + ($('input[name=\'append\']').prop('checked') ? 1 : 0) + '&comment=' + encodeURIComponent($('textarea[name=\'comment\']').val()),
		beforeSend: function() {
			$('#button-history').button('loading');			
		},
		complete: function() {
			$('#button-history').button('reset');	
		},
		success: function(json) {
			$('.alert').remove();
			
			if (json['error']) {
				$('#history').before('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			} 
		
			if (json['success']) {
				$('#history').load('index.php?route=sale/order/history&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>');
				
				$('#history').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				$('textarea[name=\'comment\']').val('');
				
				$('#order-status').html($('select[name=\'order_status_id\'] option:selected').text());			
			}			
		},			
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

function changeStatus(){
  var status_id = $('select[name="order_status_id"]').val();

  $('#openbay-info').remove();

  $.ajax({
    url: 'index.php?route=extension/openbay/getorderinfo&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>&status_id='+status_id,
    dataType: 'html',
    success: function(html) {
      $('#history').after(html);
    }
  });
}

function addOrderInfo(){
  var status_id = $('select[name="order_status_id"]').val();

  $.ajax({
    url: 'index.php?route=extension/openbay/addorderinfo&token=<?php echo $token; ?>&order_id=<?php echo $order_id; ?>&status_id='+status_id,
    type: 'post',
    dataType: 'html',
    data: $(".openbay-data").serialize()
  });
}

$(document).ready(function() {
  changeStatus();
  $('#button-invoice').click();
});

$('select[name="order_status_id"]').change(function(){ changeStatus(); });
//--></script></div>
<?php echo $footer; ?> 
